/* New Version MCB changes */

$primary_color:#196B69;
$secondary_color: #D8696F;
$tertiary_color: #3D3B53;
$quaternary: #0E4544;

$neutrals_primary_colcor:#333333;
$neutrals_secondary_color: #484848;
$neutrals_tertiary_color: #686C71;
$neutrals_quaternary_color: #BDBDBD;
$neutrals_quinary_color: #B2BAC4;

$neutrals_senary_color: #E5E5E5;
$neutrals_septenary_color: #F8F8F8;

$utility_error_color:#AF1223;
$utility_focus_color:#1F7DC8;
$border_color: #CCCCCC;
$slider-btn:#A54A4F;






/* New Version MCB changes End*/


