$iterations: 10;
$primary-color: #d8696f;
$secondary-color: #1d7d7b;
$primary-font:sans-serif;

@for $i from 1 through $iterations {
  .margin_top_#{$i*5} {
    margin-top: #{$i*5}px !important;
  }
}

/**
 * Main wrapper
 */
.select-search {
  width: 30rem;
  position: relative;
  font-family: sans-serif;
  box-sizing: border-box;
}

.select-search *,
.select-search *::after,
.select-search *::before {
  box-sizing: inherit;
}

/**
 * Value wrapper
 */
.select-search__value {
  position: relative;
  z-index: 1;
}

.select-search__value::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 9px);
  right: 19px;
  width: 11px;
  height: 11px;
}

/**
 * Input
 */
.select-search__input {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 40px 0 16px;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 36px;
  -webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.select-search__input:not([readonly]):focus {
  cursor: initial;
}

/**
 * Options wrapper
 */
.select-search__select {
  background: #fff;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
}

/**
 * Options
 */
.select-search__options {
  list-style: none;
}

/**
 * Option row
 */
.select-search__row:not(:first-child) {
  border-top: 1px solid #eee;
}

/**
 * Option
 */
.select-search__option,
.select-search__not-found {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: none;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.select-search--multiple .select-search__option {
  height: 48px;
}

.select-search__option.is-selected {
  background: $secondary-color;
  color: #fff;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
  background: rgba(47, 204, 139, 0.1);
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
  background: $secondary-color;
  color: #fff;
}

/**
 * Group
 */
.select-search__group-header {
  font-size: 10px;
  text-transform: uppercase;
  background: #eee;
  padding: 8px 16px;
}

/**
 * States
 */
.select-search.is-disabled {
  opacity: 0.5;
}

.select-search.is-loading .select-search__value::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
  background-size: 11px;
}

.select-search:not(.is-disabled) .select-search__input {
  cursor: pointer;
}

/**
 * Modifiers
 */
.select-search--multiple {
  border-radius: 3px;
  overflow: hidden;
}

.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
  transform: rotate(45deg);
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  pointer-events: none;
}

.select-search--multiple .select-search__input {
  cursor: initial;
}

.select-search--multiple .select-search__input {
  border-radius: 3px 3px 0 0;
}

.select-search--multiple:not(.select-search--search) .select-search__input {
  cursor: default;
}



.select-search:not(.select-search--multiple) .select-search__select {
  position: absolute;
  z-index: 2;
  top: 44px;
  right: 0;
  left: 0;
  border-radius: 3px;
  overflow: auto;
  max-height: 360px;
}

.select-search--multiple .select-search__select {
  position: relative;
  overflow: auto;
  max-height: 260px;
  border-top: 1px solid #eee;
  border-radius: 0 0 3px 3px;
}

.select-search__not-found {
  height: auto;
  padding: 16px;
  text-align: center;
  color: #888;
}

.AcceptOffers {
  position: absolute;
  width: 290px;
  height: 72px;
  left: 100px;
  top: 417px;

  background: #ffffff;
  border: 1px solid #dee3eb;
  box-sizing: border-box;
  border-radius: 4px;
}

.SubHeading {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: -0.01125px;
  font-family: sans-serif;
  color: #333333;
}

.LoanQuote {
  background: #f8f8f8;
  border: 50% solid #dee3eb;
  box-sizing: border-box;
  border-radius: -0.5rem;
  border-spacing: 5rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 1.9rem;
  padding-bottom: 0.1rem;
  margin-left: 5rem;
  padding-right: 5rem;
}

.LoanTerms {
  background: #ffffff;
  border: 1px solid #dee3eb;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 1rem;

  margin-bottom: 2rem;
}

.BoldSubHeading {
  font-weight: bold;
  color: #333333;
  font-family: $primary-font;


}

.Heading {
  font-weight: bold;
  font-size: 106%;
  line-height: 106%;
  /* or 106% */
  letter-spacing: 0.2px;
  color: #333333;
}

.Picture {
  position: absolute;
  left: 56.56%;
  right: 6.8%;
  top: 20.34%;
  bottom: 53.28%;

  mix-blend-mode: normal;
  opacity: 0.6;
}

.Contact {
  color: #333333;
  font-size: x-small;
}

.GreenFont {
  color: $secondary-color;
  font-weight: bolder;
  font-size: 16px;
  font-family: sans-serif;
}

.GreenFont1 {
  color: $secondary-color;
  font-weight: bolder;
  font-size: 25px;
  font-family: sans-serif;
}

.MonthlySnapshot {
  background: #ffffff;
  border: 1px solid #dee3eb;
  box-sizing: border-box;
  border-radius: 4px;
  height: 95px;
  /** padding-top: calc((--bs-gutter-x)/ 2); **/
}

.And {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 34px;
  margin-bottom: 39px;
  color: $primary-color;
}

a.five:link {
  color: #ff0000;
  text-decoration: none;
  letter-spacing: -0.01125px;
  font-family: sans-serif;

}

a.five:visited {
  color: #0000ff;
  text-decoration: none;
}

a.five:hover {
  text-decoration: underline;
}

.email {
  font-family: $primary-font;
}

.radio-now {
  list-style-type: none;
  margin: 25px 20px 0 0;
  padding: 0;
}

.radio-now li {
  float: left;
  margin: 0 15px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
}

.radio-now label,
.radio-now input {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: sans-serif;
  font-size: 1rem;
  text-align: center;
}

.radio-now input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
  font-family: sans-serif;
}

.radio-now input[type="radio"]:checked+label,
.Checked+label {
  background: $secondary-color;

}

.radio-now label {
  padding: 6px;
  border: 3px solid #CCC;
  border-radius: 4px;
  cursor: pointer;

}

.radio-now label:hover {
  background: #DDD;
}

.partner {
  color: #1d7e7c;
  font-family: sans-serif;
  font-style: normal;
  font-size: 22px;

}

.slds-input {
  background-color: white;
  height: 2.5rem;
  width: 18rem;
  border-radius: 0;
  border-color: lightgray;

}

.slds-input2 {
  background-color: #f8f8f8;
  color: #333333;
  width: 3.5rem;
  border-radius: 0;
  line-height: 24px;
  height: 2.5rem;

  text-align: center;

}

.BankDetails {
  display: inline-block;
  padding-top: 0;
  padding-right: 1rem;
  padding-bottom: 0;
  padding-left: 0.75rem;
  width: 30rem;
  min-height: calc((1.875rem) + (1px * 2));
  line-height: 1.875rem;
  border: 1px solid, #D4D4D4;
  border-radius: 0.25rem;
  background-color: rgb(255, 255, 255);
  color: #333333;
  box-shadow: inset 1px 2px 8px (0 0 0 / 7%);
  transition: border (0.1s) linear;
  background-color: (0.1s) linear;
  height: 2.5rem;
  text-align: left;
  font-family: sans-serif;
}

.Help {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-left: 60px;
  line-height: 24px;
}

.IndustrySearch {
  font-family: sans-serif;
}




.modal_header {
  background: #C4C4C4;
  height: 3rem;
  
}

.modal_add_new_add {
  position: absolute;
  width: 237px;
  height: 36px;
  left: 99px;
  top: 10px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  line-height: 24px;
  /* or 96% */

  letter-spacing: -0.01125px;

  color: #1D7E7C;
}

.x {
  position: absolute;
  text-align: right;
  font-weight: 1rem;

  left: 450px;
  top: -0.5px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #1D7E7C;
  font-family: sans-serif;
  cursor: pointer;

}

.find_address {

  height: 2.5rem;
  font-family: sans-serif;
  font-style: normal;

  font-size: 16px;
  line-height: 21px;


  letter-spacing: 0.0228571px;

  color: #FFFFFF;
  background: #1D7D7B;

}


.EnterAddManually {
  background: #C7DFDE;
  height: 3rem
}

.EnterAddManuallyTitle {
  position: absolute;
  width: 237px;
  height: 36px;
  left: 99px;
  top: 10px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  line-height: 24px;
  /* or 96% */

  letter-spacing: -0.01125px;

  color: #1D7E7C;
}

EnterAddressBody {
  height: 28rem;
  width: 19rem;
  background: black;
}

EnterAddressMonth {

  width: 3rem;
}

Save {

  background-color: #4CAF50;
  border: none;
  color: white;

  text-align: center;
 width: 13rem;
 
}



.Modal-fade-in-open {
    opacity: 0;
    visibility: visible;
    transition: opacity var(--lwc-durationQuickly,0.1s) linear;
}


.error {
  color: red;
}

.borderd {
  border-bottom: 1px solid #e5e5e5;
}

a:href {
  color: #1d7e7c;
  font-weight: bold;
}

a:link {
  color: #1d7e7c;
  font-weight: bold;
}

a:visited {
  color: #1d7e7c;
  font-weight: bold;
}

a:hover {
  color: #1d7e7c;
  font-weight: bold;
}

a:active {
  color: #1d7e7c;
  font-weight: bold;
}

.AddPrevAddHeader {
  position: relative;
  top: 1rem;
  font-weight: bolder;
   margin-bottom: 1rem;

}

.MyPreviousAddress:hover {
  font-size: 16px;
  line-height: 21px;
  border-radius: 3px;
  padding: 8px 30px;
  color: #fff;
  background-color: #1d7d7b;
  border: 2px solid #196b69;
  font-weight: bold;
  text-align: center;
  width: 6rem;
}

.MyPreviousAddress {
 
  background: #F8F8F8;
  border: 2px solid #C5D0DE;
  border-radius: 3px;

  width: 6rem;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: grey;
  padding: 8px 30px;
}

.MyPreviousAddress:active {
 
  background: #F8F8F8;
  border: 2px solid #C5D0DE;
  border-radius: 3px;

  width: 6rem;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: grey;
  padding: 8px 30px;
}


.NotMyPreviousAddress {
  
  background: #F8F8F8;
  border: 2px solid #C5D0DE;
  border-radius: 3px;
  margin-left: -8rem;
  width: 6rem;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: grey;
  padding: 8px 30px;
  }

.NotMyPreviousAddress:hover {
  font-size: 16px;
  line-height: 21px;
  border-radius: 3px;
  padding: 8px 30px;
  color: #fff;
  background-color: #1d7d7b;
  border: 2px solid #196b69;
  font-weight: bold;
  text-align: center;
  width: 6rem;
  margin-left: -8rem;
}

.NotMyPreviousAddress:active {
  font-size: 16px;
  line-height: 21px;
  border-radius: 3px;
  padding: 8px 30px;
  color: #fff;
  background-color: #1d7d7b;
  border: 2px solid #196b69;
  font-weight: bold;
  text-align: center;
  width: 6rem;
  margin-left: -8rem;


}

.Save{
  margin-top: 2rem;
  width: 18rem;
  background-color: #FFFFFF ;
  border: 2px solid #196B69 ;
  height:2.5rem;
  color: black;

}

.InputEnterAddManFeilds{
  width: 29rem;
}

.dropdown{
width: 30rem;
padding-left: 0.50rem;
padding-right: 0.50rem;
color: #ffffff;

}

.dropdown-down {
  width: 12px;
	height: 2.5rem;
	background: url(https://uat-uat-gojoko.cs80.force.com/MCFPortal/resource/downArrow) no-repeat ;
  background-size: 15px 12px;
   background-position: 98% 50%;
background-color: white !important;

}

